
body{

  font-family: "Microsoft JhengHei";
  background:url(image/pig.jpg);
  width: 1000px;
  background-position:center;
  background-repeat: no-repeat;
  height: 700px;
   
}

.nav{
  padding-right: 10px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
.li{
  padding: 20px;
}
a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #333333;
  text-decoration: none;
}
.navbar .nav.pull-center {
  float: none;
  margin: 0 auto;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}
.navbar-inner {
  text-align:center;
}

